html
  head
    title= "Image search abstraction layer"
  body
    h1= "Image search abstraction layer"
    h2= "freeCodeCamp microservice Api project"
    h3= "Api description"
    ul
        li= "/api/imagesearch/<tags>"
        li= "/api/history"